<h2>Listing Items</h2>

<table class="table table-items table-hover">
  <thead>
    <tr>
      <th>Value</th>
      <th>Favorited</th>
    </tr>
  </thead>
  <tbody>
<%= for item <- @fizzbuzz_sequence do %>
    <tr>
      <td><%= item.value %></td>
      <td class="favorite" data-id="<%= item.id %>"><%= item.favorited %></td>
    </tr>
<% end %>
  </tbody>
</table>
