<h2>Show Item</h2>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @item.value %>
  </li>

  <li>
    <strong>Favorited:</strong>
    <%= @item.favorited %>
  </li>

</ul>

<span><%= link "Edit", to: item_path(@conn, :edit, @item) %></span>
<span><%= link "Back", to: item_path(@conn, :index) %></span>
